CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
bin/
cmake_install.cmake
downloads/
include/
lib/
pristine_boost/
resources/
src/.CMakeLists.txt.swp
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
stable-binary/
stable-source/
